.body{
    text-align: center;
    background: url('file:\\\C:\Users\JoshanDasi\Downloads\cm332new.jpg') no-repeat center center fixed;
    background-size:cover;
}
.heading{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding-bottom: 8px;
color:rgb(70, 85, 131);
line-height: 120px;
font-size: 250%;
background-color: rgb(176, 214, 249);
}
.card{
    margin-top: 80px;
    margin-left: 38%;
    width: 20%;
    height: 40%;
    background-color:  rgba(176, 214, 249, 0.445);
}
::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: rgb(15, 15, 15) !important;
   }

  ::ng-deep.mat-form-field-underline {
    /* change color of underline */
    background-color:rgb(13, 13, 13) !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: rgb(7, 105, 165) !important;
  }