
<body class="body">
    <h1 class="heading"><b>C</b>ommunity Management .</h1>
    <p style="margin-left: 3%;">Click below buttons to login respectively...</p>
    <div style="display: flex;">
            <mat-card class="card">
            <button routerLink="/superUser" mat-icon-button class="btn" >Admin</button>
            <button routerLink="/communityManager" mat-icon-button class="btn" >Tennat</button>
            </mat-card>
        <div>
            <img src="assets/background.png" style="margin-left: 70%; height: 80%">
        </div>
    </div>
</body>


