.body{
height: 60px;
background-color: rgb(26, 25, 25);
display: flex;

}
.gap{
    margin-top: 10px;
    margin-left: 20px;
    color: white;
    background-color: rgb(26, 25, 25);
}
.navigation{
    margin-left: 20px;
    background-color:white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    margin-top: 5px;
}
.lable{
    padding-top: 20px;
    margin-left: 150px;
    color: white;
}
.user{
    padding-top: 10px;
    color: rgb(2, 250, 250);
    background-color: rgb(59, 58, 58);
    padding-left: 10px;
    padding-right: 20px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}
.active{
    color: aqua;
}
