<div class="body">
<p class="user">User: {{userEmail}}</p>
<button class="gap" mat-flat-button [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"   routerLink="/tenantCommon">DASHBOARD</button>
<button class="gap" mat-flat-button [routerLinkActive]="'active'"    routerLink="tenatCommunity/expenditures">Exepnditures</button>
<button class="gap" mat-flat-button [routerLinkActive]="'active'"    routerLink="tenatCommunity/guestRooms">Guest Rooms</button>
<button class="gap" mat-flat-button [routerLinkActive]="'active'"    routerLink="tenatCommunity/funtionHalls">Function Halls</button>
<label *ngIf="topNavigate" class="lable">Change Community</label>
<mat-form-field class="communitySelect" *ngIf="topNavigate" class="navigation">
    <mat-select placeholder="{{comName}}">
      <mat-option *ngFor="let opt of dict| keyvalue" (click)="changeCommunity(opt.key,opt.value)">{{opt.value}}</mat-option>
    </mat-select>
  </mat-form-field>
<button class="gap" mat-flat-button (click)="logout()" >Logout</button>
</div>
<router-outlet></router-outlet>