
<body class="body">
<h1 class="heading">Guest Rooms And Function Halls</h1>
<div class="flats">
    <!-- dialog to add guest rooms starts from here -->
    <dialog id="myDialog" [open]="a1" class="dialog">
        <form style="margin-left: 20px;margin-top: 40px;" [formGroup] = "GuestForm" >
            <mat-card-header>
                <mat-card-title>Enter Guest Room Details</mat-card-title>
            </mat-card-header>
              <br>
        <div style="display:flex;">
            <div class="flatDetails">
                <mat-form-field>
                    <input type="number" formControlName = "id"  placeholder="Id" matInput/>
                </mat-form-field>
            
            </div>
            <div class="flatDetails">
                <mat-form-field>
                    <input  type="text" formControlName = "roomName" placeholder="Room Name" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="text" formControlName = "attachedWashRoom" placeholder="Attached Wash Room" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="number" formControlName = "rentPerDay" placeholder="Rent Per Day" matInput/>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex;">
            <div class="flatDetails">
                <mat-form-field>
                <input  type="text" formControlName = "bed" placeholder="Bed" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="text" formControlName = "createdBy" placeholder="Created By" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="number" formControlName = "communityId" placeholder="Community Id" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="date" formControlName = "createdDate" placeholder="Created Date" matInput/>
                </mat-form-field>
            </div>
        </div>
    <button mat-raised-button class="btn" (click)="addGuestRoom()" style="margin-left: 12px;">Add</button>
    </form>
</dialog>
    <!-- table to show all guest rooms of a community starts from here -->
    
    <mat-table [dataSource]="x" class="mat-elevation-z8">
        <ng-container matColumnDef="position1">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position2">
            <mat-header-cell *matHeaderCellDef>Room Name</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.roomName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position3">
            <mat-header-cell *matHeaderCellDef>Attached Wash Room</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.attachedWashRoom}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position4">
            <mat-header-cell *matHeaderCellDef>Rent</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.rentPerDay}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position5">
            <mat-header-cell *matHeaderCellDef> Bed</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.bed}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position6">
            <mat-header-cell *matHeaderCellDef> Created By</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.createdBy}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position7">
            <mat-header-cell *matHeaderCellDef>Community Id</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.communityId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position8">
            <mat-header-cell *matHeaderCellDef> Created Date</mat-header-cell>
            <mat-cell *matCellDef="let x">{{x.createdDate}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    </div>
   
    <button mat-raised-button class="btn" (click)="showData1()">Add Guest Rooms</button>
     <!-- dialog of function hall starts from here -->
    <dialog id="myDialog" [open]="a2" class="dialog">
        <form style="margin-left: 20px;margin-top: 40px;" [formGroup] = "FunctionForm" >
            <mat-card-header>
                <mat-card-title>Enter Function Hall Details</mat-card-title>
            </mat-card-header>
              <br>
        <div style="display:flex;">
            <div class="flatDetails">
                <mat-form-field>
                    <input type="number" formControlName = "id"  placeholder="Id" matInput/>
                </mat-form-field>
            
            </div>
            <div class="flatDetails">
                <mat-form-field>
                    <input  type="number" formControlName = "capacity" placeholder="Capacity" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="number" formControlName = "communityId" placeholder="Community Id" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="text" formControlName = "createdBy" placeholder="Created By" matInput/>
                </mat-form-field>
            </div>
        </div>
        <div style="display: flex;">
            <div class="flatDetails">
                <mat-form-field>
                <input  type="date" formControlName = "createdDate" placeholder="Created Date" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="number" formControlName = "rentPerDay" placeholder="Rent Per Day" matInput/>
                </mat-form-field>
            </div>
            <div class="flatDetails">
                <mat-form-field>
                <input  type="text" formControlName = "roomName" placeholder="Hall Name" matInput/>
                </mat-form-field>
            </div>
        </div>
    <button mat-raised-button class="btn" (click)="addFunctionHall()" style="margin-left: 12px;">Add</button>
    </form>
    </dialog>
<!-- table to show all function halls of a community starts from here -->
<div class="flats">
    <mat-table [dataSource]="y" class="mat-elevation-z8">
        <ng-container matColumnDef="position1">
            <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.id}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position2">
            <mat-header-cell *matHeaderCellDef>Room Name</mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.roomName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position3">
            <mat-header-cell *matHeaderCellDef>Rent Per Day</mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.rentPerDay}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position4">
            <mat-header-cell *matHeaderCellDef>Capacity </mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.capacity}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position5">
            <mat-header-cell *matHeaderCellDef>Created By</mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.createdBy}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position6">
            <mat-header-cell *matHeaderCellDef>Community Id</mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.communityId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="position7">
            <mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
            <mat-cell *matCellDef="let y">{{y.createdDate}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
    </mat-table>
    <button mat-raised-button class="btn2" (click)="showData2()">Add Function Halls</button>
</div>
</body>